@import "tailwindcss";

:root {
  --foreground-rgb: 17, 17, 17;
  --background-rgb: 255, 255, 255;
  --font-inter: 'Inter', sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: var(--font-inter);
  /* Crucial for the thin/clean aesthetic */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

/* Hide default scrollbar */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* High-contrast selection */
::selection {
  background: #000;
  color: #fff;
}